<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<div th:fragment="nav-2">
    <style>
        .header-logo {
            font-family: 'Noto Sans';
            padding-bottom: 20px;
            font-size: 39px;
            font-weight: bold;
            color: #600080;
            text-align: center;
            text-decoration: none;
       }
    </style>

    <div class="container">
        <div class="header-logo">
            <a class="header-logo" href="/">Market</a>
        </div>
    </div>


</div>
</html>